<div class="nested-fields">
  <div class="field form-group row">
    <%= f.text_field :name, class: "col-md-5", placeholder: "材料" %>
    <%= f.text_field :amount, class: "col-md-2 offset-1", placeholder: "分量" %>
    <%= link_to_remove_association "削除", f, class: "btn btn-secondary btn-block col-md-1 offset-1 " %>
  </div>
</div>