<div class="nested-fields">
  <div class="field form-group mx-auto">
    <%= f.text_field :body, placeholder: "手順の説明", class: "mr-3", size: 40 %>
    <%= link_to_remove_association "削除", f, class: "btn btn-secondary" %>
  </div>
</div>