<div class="container">
  <div class="row">
    <div class="col-md-9 mx-auto">
      <h3 class="bg-light p-3 my-4 d-inline-block">新規レシピ登録</h3>
      <%= render "post_recipe_form", recipe: @recipe %>
    </div>
  </div>
</div>