<div class="container">
  <div class="row text-center">
      <h1 class="col-12">トレ飯とは</h1>
      <h3 class="col-12 pt-3">トレ飯は、主にトレーニングをしている人向けのレシピ投稿サイトです</h3>
      <h3 class="col-12 pt-3">トレーニングを始めて食事にも気を遣いたいけれど、何を食べていいかわからない</h3>
      <h3 class="col-12 pt-3">ダイエットのために鶏胸肉ばかり食べていて飽きてしまう</h3>
      <h3 class="col-12 pt-3">そんな方達に向けてレシピを共有することができます</h3>
      <h3 class="col-12 pt-3">美味しく食べて楽しいトレーニングライフを送りましょう！</h3>
  </div>
</div>