<div class="container">
  <div class="row text-center">
      <h1 class="col-12">トレ飯とは</h1>
      <h3 class="col-12 pt-3">
        トレ飯は、主にトレーニングをしている人向けのレシピ投稿サイトです<br />
        トレーニングを始めて食事にも気を遣いたいけれど、何を食べていいかわからない<br />
        ダイエットのために鶏胸肉ばかり食べていて飽きてしまう<br />
        そんな方達に向けてレシピを共有することができます<br />
        食事に気を使い楽しいトレーニングライフを送りましょう！<br />
      </h3>
  </div>
</div>