<div class="container">
  <div class="row text-center">
      <h1 class="col-12 pt-5 ">トレ飯とは</h1>
      <h3 class="col-12 pt-5">このサイトはカロリーを気にしたい人向けのレシピ投稿サイトです</h3>
      <h3 class="col-12 pt-5">トレーニングを始めて食事にも気を遣いたいけれど、具体的なカロリーがわからない</h3>
      <h3 class="col-12 pt-5">ダイエットをしているけどカロリーがわからず食べすぎたりしてしまう</h3>
      <h3 class="col-12 pt-5">いつも同じ鶏胸肉ばかりの食事に飽きてしまう</h3>
      <h3 class="col-12 pt-5">そんな方達に向けて自分の食べているレシピを共有することができます</h3>
      <h3 class="col-12 pt-5">美味しく食べて楽しいトレーニングライフを送りましょう！</h3>
  </div>
</div>
